
#title{
    background-color: #ff4c68;
    text-align: center;
    font-family: Montserrat-Black;
    color: #fff;
}


.profile-pic{
    width: 60%;
}

.random-padding{
    padding: 7% 15%;
}

.buttons{
    padding: 20px;
}
.nav-item{
    padding: 10px;
}



.navbar-brand{
    font-family: Ubuntu;
    font-size: 7rem;
    font-weight: bold;
}

.navbar-nav{
    margin-left: 48%;
}



.big-heading{
    font-weight: bold;
    color: white;
    size: 4rem;
    line-height: 1.5;
    padding-bottom: 20px;
}

.job-details{
    color: white;
    font-size: 2rem;
    
}

.company-name{
    
    font-weight: bold;
    color: white;
    font-size: 3rem;
}

.button{
    display: inline-block;
    padding: 10px;
}


@media (max-width:960px) {
    .button{
        padding: 10px;
    }
    .navigation-list{
        margin-top: 20px;
        width: 100%;
        float: right;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }
}

#aboutme{
    font-family: Montserrat-Black;
    padding: 7% 20%;
}

.aboutme-container{
   
    border: 5px inset;
}

.aboutme-para{
    padding-bottom: 50px;
    font-size: 1.2rem;
}

.aboutme-photo-img{
    width: 103%;
}

.aboutme-button{
    text-align: center;
    padding: 25px;
}

.aboutme-heading, .education-heading{
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 40px;
    
}

.aboutme-photo{
    text-align: center;
}

@media (max-width:1020px){
    .aboutme-photo{
        display: none;
    }
    .aboutme-heading{
        font-size: 2.5rem;
        padding-bottom: 25px;
    }
    .education-heading{
        font-size: 2.5rem;
    }
}

#projects{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* Screeen Line */

.screen-sub-heading {
    letter-spacing: 3px;
    margin: 8px 0 10px;
    font-size: 12px;
    color: var(--black);
}


.seperator-line {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 6px;
    background-color:#1f221f;
}

.seperator-blob {
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seperator-blob div {
    width: 35px;
    border-radius: 10px;
    background-color: #fff;
}

.carousel{
    padding-top: 50px;
}

.testimonials-image{
    width: 30%;
    margin: 20px;
}

@media (max-width:1020px){
    .testimonials-image{
        width: 60%;
        margin: 20px;
    }
}

#education{
    padding: 7% 15%;
    text-align: center;
}


#skills{
    background-color: #ff4c68; background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.card-group{
    padding-top: 50px;
}

.skills-header{
    color: #fff;
    padding-bottom: 30px;
}

.skills-heading{
    font-weight: bold;
    font-size: 3rem;
}

@media (max-width:1020px){
    .skills-heading{
        font-size: 2rem;
    }
}

#contact{
    
    padding-top: 7%;
}


#footer{
    background-color: #fff;
    text-align: center;
    margin: 20px;
}

.footer-icons{
    color: #ff4c68;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
}


.projects-heading{
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    
}

@media (max-width:1020px){
    .projects-heading{
        font-size: 2.5rem;
    }
}





